# Секреты и авторизация
auth/

# Базы данных и кэши
db/
cache/
.ruff_cache/
build_assets/

# Логи и отчеты
report/
.lock
.pid
yadpylesos.lock
history

# Бекапы и тесты
*.bak
*.old.*
*.part
*.corrupt
*.tmp
__pycache__/
backup/
testing/
build_assets/
cache/

# Источник ссылок
source_links.txt
!source_links.txt.example

yadpylesos

# VPN (R&D)
vpn/
!vpn/link1.txt.example

# Инструменты
documentation/commands.md
documention/TECHNIQUES.md

